*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0  auto;
    
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


/* sheared styles */
.dis-flex {
    display: flex;
}

.f-size-14 {
  font-size: .98rem;
  color: #787885;
}
.f-size-16 {
  font-size: 1rem;
}
.f-size-28 {
    font-size: 1.75rem;
    color: #18191F;
}
.f-size-24 {
    font-size: 1.33rem;
    color: #18191F;
}
.f-weight-b {
    font-weight: 700;
}
.f-weight-sb {
    font-weight: semibold;
}
.f-weight-md {
    font-weight: medium;
}
.f-weight-rg {
    font-weight: regular;
}
.color-3A {
    color: #3A3A3A;
}
.mar-t16 {
    margin-top: 16px;
}
.btn-all {
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 41px;
    cursor: pointer;
}

/* header styles */

nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    
}
ul {
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}
 h2 {
    font-size: 3.25rem;
 }
a { 
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
.head-container, .feature-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 20px 135px;
}
.head-container {
    gap: 117px;
}
.head-img {
    background-image: url('../images/Circle design.svg')
}
.head-img > img {
    width: 100%;
    height: auto;
}

/* logo styles */

.icon-container {
   padding: 80px 130px;
   margin-top: 150px 0;
   justify-content: center;
   gap: 40px;
   
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* products styles */

.Collection {
    flex-direction: column;
    margin-top: 500px 0;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center; 
    gap: 4rem;
    justify-content: center;
    padding: 15px; 
    border-radius: 10px;
}
.product-sample {
    width: 329px; height: 476px;
    background-color: #ffffff;
    border-radius: 10px;

    text-align: left;
    padding: 20px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    
}

.fa-regular, .fa-solid {
    color: gold;
}
#sda {
    color: white;
}
#kala {
    color: black;
}
#gol {
    color: #E02C6D ;
}
.btn-bn {
    color:  #E02C6D;
    border: none;
    cursor: pointer;   
}
.see-more {
    display: flex;
    justify-content: flex-end;
    padding: 1px 190px 20px 0;
    text-align: right;
    
}
/* features style */

.feature-container {
    margin-top: 100px;
    padding: 20px 160px;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
    
}
.box-text > h3 {
    font-size: 2.1rem;
}
.box-text> p {
    color: #6C6C6C;
}
/* footer styles */
footer {
    margin-top: 100px;
}
.foot {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(5, 2, 32);
    padding: 60px 0px;
    text-align: center;
    font-size: 14px;
    color: white;
    width: 100%;
}
.sada {
    font-size: 1.33rem;
}
.f14 {
    font-size: 0.98
}

/* responsive styles */

@media screen and (max-width: 576px) {
    nav, ul, .head-container, .feature-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .icon-container { 
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        gap: 20px;
    }
    
    
    .logo {
        width: 100px;
        height:50px;
    }
    body {
        width: 100%;
        height: auto;
        padding: 0px 0px;
        margin: 0px;
    }
    main {
        margin: 0px;
        padding: 20px;
        height: auto;
    }
    .head-container, .feature-container {
        flex-direction: column-reverse;
    }
    .head-container {
        padding: 0 20px;
    }
    .see-more {
        justify-content: flex-end;
        align-items: right;
        padding: 0px 10px 0px 0px;
        margin-top: 0px;
    }
    .item-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .feature-container {
        padding: 0px;
        margin: 60px 0 0 0;

    }
    .head-container {
        padding: 20px 0px;
        margin: 0px;
       
    }
    img {
        width: 100%;
        height: auto;
    }
    
}
